.primary {
    color: $primary;
}

.secondary {
    color: $secondary;
}

.tertiary {
    color: $tertiary;
}

.bg-primary {
    background: $primary;
}

.bg-secondary {
    background: $secondary;
}

.bg-tertiary {
    background: $tertiary;
}
