@mixin button {
    margin-right: 1rem;
    padding: .5rem 2rem;
    border: 0;
    border-radius: 1rem;
    outline: 0;
    color: $primary;
    font-family: $paragraph-font;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.4em;
}
