@mixin button {
    margin-right: 1rem;
    padding: .5rem 3.4rem;
    border: 0;
    border-radius: 10rem;
    outline: 0;
    color: $primary;
    font-family: $paragraph-font;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4em;
}
